* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

/* regole header */
header {
    background-color: #ff6900;
    height: 80px;
    font-size: 15px;
    font-weight: 500;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.top-bottom {
    height: 80px;
    display: flex;
    align-items: center;
    color: white;
}

.top-bottom ul,
.icons-header {
    width: 20%;
    display: flex;
    gap: 15px;
    align-items: center;
}

.container-logo {
    width: 80%;
    text-align: center;
}

.container-logo img {
    width: 150px;
}

.icons-header {
    justify-content: flex-end;
}

/* regole main */
/* main {
    background-color: white;
} */

.products {
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    width: 32%;
    position: relative;
}

.item:hover .main-image {
    display: none;
}

.item:hover .other-image {
    display: inline-block;
}

.item img {
    width: 100%;
}

.item .other-image {
    display: none;
}

.heart {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 500;
    font-size: 30px;
    color: black;
    background-color: white;
    padding: 3px 10px;
}

.heart:hover {
    color: red;
    cursor: pointer;
}

.labels {
    position: absolute;
    bottom: 100px;
    left: 0;
    z-index: 500;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.discount {
    background-color: red;
    padding: 5px 8px;
}

.sustainability {
    background-color: green;
    padding: 5px 8px;
}

.brand {
    font-size: 12px;
}

.name {
    font-size: 16px;
    font-weight: bold;
}

.discounted-price {
    font-size: 14px;
    color: red;
    font-weight: 600;
}

.price {
    text-decoration: line-through;
}

/* regole footer */
footer {
    background-color: #1a1a1a;
    height: 80px;
}

.left-footer {
    width: 90%;
}

.left-footer ul {
    font-size: 10px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    gap: 10px;
}

.right-footer {
    width: 10%;
}

.social {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}