* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

header {
    background-color: #ff6900;
    height: 80px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.upper {
    height: 80px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.upper ul,
.icons-header {
    width: 20%;
    display: flex;
    gap: 15px;
    align-items: center;
}

.container-logo {
    width: 80%;
    text-align: center;
}

.container-logo img {
    width: 150px;
}

.icons-header {
    justify-content: flex-end;
}